@import "../../Base.scss";

.containerDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2% auto;
  color: #5c5c5c;

  .videoSrc {
    height: 200px;
    width: 300px;
    margin-bottom: 3%;
  }
  .title {
    margin: 0 5% 3% 5%;
  }
  .infos {
    margin: 0 5% 3% 5%;
    .like,
    .deslike,
    .visualizacao,
    .descricao {
      padding: 5px;
    }
  }
}
