.containerNavigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    list-style-type: none;
    outline: none;

    .page, .rest{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline: none;
        min-height: 26px;
        min-width: 26px;
        padding: 0 4px;
        margin: 0 4px;
    }

    .page:hover {
        background-color: black;
        color: white;
    }
}