@import '../../Base.scss';

ul.MuiList-root.list.MuiList-padding {
    margin: 0 20%;
}

.list {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .listItem {
        .title {
            margin: 0 5%;
        }
    }
}